.extra-products__title {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.extra-products__description,
.extra-products__price {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: @product-text;
}

.extra-products__button {
  font-size: 16px;
  line-height: 20px;
  background-color: @basic-green;
  color: @footer-background;
}

.extra-products__hr {
  color: @basic-green;
}
