.extra-products__title-container {
  position: absolute;
  background-color: white;
  width: 60%;
  margin-top: -9%;
}

.extra-products__main-title {
  padding-left: 5%;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.extra-products__product-hr {
  color: @special-grey;
  width: 100%;
}

.extra-products__button {
  font-size: 16px;
  line-height: 20px;
  background-color: @basic-green;
  color: @basic-grey;
  width: 100%;
  background-color: @basic-green;
  border: none;
  height: 40px;
}

.extra-products__button:hover{
  cursor: pointer;
}

.extra-products__title {
  width: 100%;
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.extra-products__info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.extra-products__main-container {
  margin: 0;
  padding: 0;
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 5%;

  @media (min-width: @desktop-width) {
    flex-wrap: no-wrap;
    justify-content: space-around;
  }
}

.extra-products__list {
  width: 100%;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    width: 45%;
  }
}


.extra-products__description,
.extra-products__price {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: @special_dark-grey;
}

.extra-products__item {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.extra-products__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.extra-products__decoration {
  border: 2px solid @basic-green;
  box-shadow: none;
}
