.offer {
  display: flex;
  flex-wrap: nowrap;
  align-content: baseline;
  margin-right: 5%;
  margin-left: 5%;
  height: 114px;
  margin-top: 15px;

  @media (min-width: @desktop-width) {
    display: block;
    position: absolute;
    background-color: @white;
    width: 570px;
    margin-top: 200px;
  }
}

.offer__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.offer__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  color: @special_dark-grey;
}

.offer--form-style {
  background-color: @basic-grey;
}
