.page-footer {
  background-color: @basic-grey;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.page-footer__hr {
  @media (min-width: @desktop-width) {
    transform: scale(0);
  }
}
