.page-footer {
  background-color: @basic-grey;
  margin-top: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    padding: 50px;
    display: flex;
    align-content: center;
  }
}

.page-footer__img {
  padding-top: 20px;
  padding-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.page-footer__img--first {
  margin-top: 0;
  width: 128px;
}

.page-footer__img--social {
  width: 128px;
}

.page-footer__img--htmlacademy {
  height: 45px;
}

.page-footer__hr {
  margin-left: 5%;
  margin-right: 5%;
  color: @programs-hr;

  @media (min-width: @tablet-width) {
    transform: scale(0);
  }
}
