.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
}

.product-list__item {
  width: 100%;

  @media (min-width: @tablet-width) {
    background-color: @basic-grey;
    width: 324px;
    height: 512px;
  }

  @media (min-width: @desktop-width) {
    margin: 20px;
    width: 245px;
    height: 512px;
  }
}

.product-list__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.product-list__img {
  width: 70%;
}

.product-list__item--more {
  display: flex;
  text-align: center;
  flex-wrap: wrap;

  height: 279px;

  @media (min-width: @tablet-width) {
    width: 324px;
    height: 429px;
    background-color: @white;
    border: 2px solid @basic-grey;
  }
}

.product-list__button {
  border: none;
  width: 279px;
  height: 40px;
  background-color: @basic-grey;
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    width: 249px;
    height: 40px;
  }
}

.page-main__title {
  font-size: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.product-list__title {
  font-size: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.product-list__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list__text {
  width: 50%;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
}

.product-list__order-button {
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  width: 100%;
  border: none;
  height: 40px;
  background-color: @basic-green;
  color: @white;

  @media (min-width: @tablet-width) {
    width: 249px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.product-list__item--more {
  display: block;
  padding: 70px;
}

.product-list__text--info {
  text-align: right;
}

.product-list__title--more {
  text-align: center;
}

.product-list__picture--more {
  text-align: center;
  order: 0;
}

.product-list__description--more {
  font-family: "Arial", sans-serif;
}

.product-list__hr {
  color: @catalog-hr;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
}
