.program__intro {
  font-size: 36px;
}

.program__description {
  font-size: 18px;
}

.program-form {
  font-size: 18px;
}

.contact-form__title {
  font-size: 26px;
}

.program-form__submit {
  background-color: @basic-green;
}

.program-notice {
  font-size: 16px;
}
