.programs__intro {
  font-size: 36px;
  font-family: "Oswald", "Arial", sans-serif;
}

.programs__slogan {
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
}

.programs__button {
  background-color: @basic-green;
  color: @footer-background;
  font-size: 18px;
  font-family: "Oswald", "Arial", sans-serif;
}

.programs__item {
  margin-top: 20px;
  background-color: @basic-grey;
}

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.programs__description {
  font-size: 18px;
  font-family: "Arial", sans-serif;
}

.programs__href--text {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
