.program-form {
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  padding: 20px;
  margin: 20px;
}

.program-form__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.program__cat-info {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.program__info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
  width: 100%;
  align-content: baseline;

  @media (min-width: @desktop-width) {
    width: 80%;
  }
}

.program-form__input {
  border: 1px solid @special-grey;
  width: 80%;
  font-size: 16px;

  @media (min-width: @tablet-width) {
    width: 567px;
  }

  @media (min-width: @desktop-width) {
    width: 560px;
  }
}

.program-choice {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    width: 40%;
  }
}

.program-choice__choice {
  margin-top: 25px;
  display: flex;
  align-content: baseline;
  width: 100%;
}

.addition-form__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.program-choice__input {
  position: relative;
  height: 22px;
  width: 22px;
  appearance: none;
  outline: none;
}

.program-choice__input::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid @basic-green;
}

.program-choice__input:checked::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: @basic-green;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.addition-form__point {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 25%;
  }
}

.contact-form__info {
  margin-top: 15px;
  display: flex;
  flex-wrap: no-wrap;
  width: 100%;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.contact-form__choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;

  @media (min-width: @tablet-width) {
    width: 551px;
  }

  @media (min-width: @desktop-width) {
    width: 486px;
  }
}

.contact-form__input {
  border: 1px solid @special-grey;
  font-size: 16px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 551px;
  }

  @media (min-width: @desktop-width) {
    width: 486px;
  }
}

.contact-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    width: 40%;
  }
}

.comment-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.comment-form__hr {
  position: absolute;
  width: 100%;
  color: @basic_green;
}

.comment-form__title {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  width: 100%;
}

.addition-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.program__intro {
  margin-left: 5%;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.program-form__container-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-wrap: no-wrap;
    justify-content: space-around;
  }
}

.program__hr {
  color: @basic-green;
}

.program-form__label {
  margin-top: 5px;
  height: 52px;
  color: @special_dark-grey;
}

.program-choice__label {
  margin-left: 10px;
  width: 40%;
  color: @special_dark-grey-2;
  font-weight: 400;
}

.contact-form__title {
  width: 100%;
  font-size: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}


.addition-form__title {
  width: 100%;
  font-size: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.contact-form__label {
  color: @special_dark-grey;
  width: 219px;

  @media (min-width: @tablet-width) {
    width: 551px;
  }

  @media (min-width: @desktop-width) {
    width: 486px;
  }
}

.program__description {
  margin-left: 5%;
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.comment-form__textarea {
  border: 1px solid @special-grey;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  width: 90%;
  height: 150px;

  @media (min-width: @tablet-width) {
    width: 631px;
    height: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.program-form__submit {
  background-color: @basic-green;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: @white;

  @media (min-width: @desktop-width) {
    width: 568px;
    height: 52px;
  }
}

.program__notice {
  padding: 20px;
  margin: 20px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
}
