.program-form {
  font-size: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  padding: 20px;
  margin: 20px;
}

.program-form__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.program__cat-info {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.program__info {
  display: flex;
  flex-wrap: no-wrap;
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 80%;
  }
}

.program-form__input {
  width: 228px;

  @media (min-width: @tablet-width) {
    width: 567px;
  }

  @media (min-width: @desktop-width) {
    width: 560px;
  }
}

.program-choice {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    width: 40%;
  }
}

.program-choice__choice {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}

.addition-form__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.addition-form__point {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 25%;
  }
}

.contact-form__info {
  display: flex;
  flex-wrap: no-wrap;
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.contact-form__choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 219px;

  @media (min-width: @tablet-width) {
    width: 551px;
  }

  @media (min-width: @desktop-width) {
    width: 486px;
  }
}

.contact-form__input {
  width: 219px;

  @media (min-width: @tablet-width) {
    width: 551px;
  }

  @media (min-width: @desktop-width) {
    width: 486px;
  }
}

.contact-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    width: 40%;
  }
}

.comment-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.comment-form__title {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  width: 100%;
}

.addition-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.program__intro {
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.program-form__container-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-wrap: no-wrap;
    justify-content: space-around;
  }
}

.program__hr {
  color: @basic-green;
}

.program-form__label {
  height: 52px;
  color: @special_dark-grey;
}

.program-choice__label {
  color: @special_dark-grey-2;
  font-weight: 400;
}

.contact-form__title {
  width: 100%;
  font-size: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}


.addition-form__title {
  width: 100%;
  font-size: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.contact-form__label {
  color: @special_dark-grey;
  width: 219px;

  @media (min-width: @tablet-width) {
    width: 551px;
  }

  @media (min-width: @desktop-width) {
    width: 486px;
  }
}

.program__description {
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
}

.comment-form__textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  width: 280px;
  height: 150px;

  @media (min-width: @tablet-width) {
    width: 631px;
    height: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.program-form__submit {
  background-color: @basic-green;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: @white;

  @media (min-width: @desktop-width) {
    width: 568px;
    height: 52px;
  }
}

.program__notice {
  padding: 20px;
  margin: 20px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
}
